#gallery {
    height: auto;
    min-height: 60vh;
    padding-bottom: 10rem;
}

#carouselContainer {
    max-width: 100%; /* Fixed width of the carousel */
    margin: 20px auto; /* Center the carousel */
}
.carousel-inner img {
    width: 100%;
    aspect-ratio: 16 / 9; /* Fixed height */
    object-fit: cover;
    border-radius: 1rem;
}

@media screen and (max-width: 768px) {
    #gallery {
        min-height: auto;
    }

    .container-90 {
        width: 90vw !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
