header {
    z-index: 1000;
}

nav {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    width: min(1200px, 90vw);
    height: var(--nav-height);
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-xl);
    font-family: var(--font-display);
    display: flex;
    align-items: center;
    padding: var(--space-1);
}

aside {
    flex-direction: column;
    gap: var(--space-3);
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    padding: var(--space-4);
    padding-bottom: var(--space-7);
    transition: all 0.3s ease;
}

.hide {
    right: -100%;
    pointer-events: none;
}

.aside__links {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    padding: var(--space-2);
}

.aside__social-links {
    display: flex;
    gap: var(--space-3);
    padding: var(--space-1);
    justify-content: center;
}

.aside__social-links a {
    font-size: var(--fs-h3);
    transition: all 0.3s ease-in-out;
    color: var(--color-ash-white);
}

.aside__social-links a:hover,
.aside__social-links a:active,
.aside__links a:hover,
.cross:hover {
    color: var(--color-yellow);
    transform: scale(1.05);
}

.aside__links a,
.cross {
    color: var(--color-ash-white);
    font-weight: 500;
    font-family: var(--font-display);
    font-size: var(--fs-h3);
}

.cross {
    align-self: flex-end;
    justify-self: flex-end;
}

.nav__logo {
    margin-right: auto;
    transition: all 0.3 ease-in-out;
}

.nav__logo img {
    max-height: 55px;
    height: 100%;
    object-fit: contain;
    width: auto;
}

.nav__logo:hover {
    transform: scale(1.05);
}

.nav__links {
    padding: 0 var(--space-3);
    display: flex;
    gap: var(--space-3);
    align-items: center;
    font-size: var(--fs-h5);
    font-weight: 400;
}

.hamburger {
    font-size: var(--fs-h5);
    margin-right: var(--space-2);
    transition: transform 0.3 ease-in-out;
    cursor: pointer;
}

.hamburger:hover, 
.hamburger:active {
    transform: scale(1.25);
    color: var(--color-yellow)
}

.nav__link {
  color: var(--color-ash-white);
  position: relative;
  transition: all 0.3 ease-in-out;
  margin: 0 var(--space-1)
}

.nav__link:hover,
.nav__link:active {
    color: var(--color-yellow);
}

.nav__link.active::after,
.nav__link:hover::after {
  content: '';
  color: var(--color-yellow);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.15rem;
  background-color: var(--color-yellow);
}

.hamburger {
    display: none;
}




@media screen and (max-width: 768px) {
    .nav__links {
        display: none;
    }
    
    .hamburger {
        display: block;
    }
}

@media screen and (max-width: 576px) {
    aside {
        width: 100vw;
    }
}

